body{
  min-width: 1000px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background-color: white;
  font-family: sans-serif;
}

.buttonRow{
  display: flex;
}

.formButton{
  margin: 5px;
  flex-grow: 1;
  background-color: rgb(229,231,235);
  color: black;
  border-radius: 10px;
  padding: 4px;
}

input:checked + .formButton{
  background-color: rgb(107,114,128);
  color: white;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.monthSelector{
  background-color: inherit;
}

#CopyButton{
  background-color: inherit;
  border-width: 0px;
  position:absolute;
  right: 10px;
  top: 38px;
}

#PatreonButton{
  background-color: inherit;
  border-width: 0px;
  position:absolute;
  left: 10px;
  top: 38px;
}

#chartBits{
  position:relative;
}

#pleaseWait{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  color: white;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden;
  font-size: xx-large;
}

#pleaseWait  p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Disables double-tap zoom*/
svg { touch-action: manipulation; }

svg text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
svg text::selection {
  background: none;
}